@import "../../2-tools/em";

.root {
    max-width: 100%;
    background: white;
    color: rgba(45, 52, 54, 1);
    margin-right: 16px;
    padding: 28px 22px;
    border-radius: 0 10px 10px 10px;
    font-weight: 400;
    font-size: em(16px);
    line-height: em(30px, 16px);
    height: 100%;
    display: flex;
    flex-direction: column;
    pointer-events: none;
    user-select: none;
}

.review {
    flex: 1 0 auto;
}

.person {
    align-items: center;
    margin-top: 14px;
}

.name {
    font-weight: 500;
    font-size: em(16px);
    line-height: em(30px, 16px);
}

.company {
    font-size: em(16px);
    line-height: em(30px, 16px);
}
