@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.heading {
    font-size: em(40px);
    line-height: em(56px, 40px);
    margin-bottom: 8px;

    @media (max-width: $tablet) {
        font-size: em(22px);
        line-height: em(31px, 22px);
        margin-bottom: 10px;
    }
}

.subheading {
    font-size: em(28px);
    line-height: em(39px, 28px);
    color: rgba(255, 255, 255, 0.6);

    @media (max-width: $tablet) {
        font-size: em(18px);
        line-height: em(25px, 18px);
    }
}

.intro {
    font-size: em(18px);
    line-height: em(35px, 18px);
    margin-top: 69px;
    max-width: 515px;

    @media (max-width: $tablet) {
        font-size: em(16px);
        line-height: em(34px, 16px);
        margin-top: 50px;
        margin-bottom: 0;
    }
}
