@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.heading {
    color: #000000;

    @media (max-width: $tablet) {
        font-size: em(20px);
    }
}

.paragraph {
    font-size: em(18px);
    line-height: em(50px, 18px);
    margin: 0;
    color: #000000;
    font-weight: 400;

    @media (max-width: $tablet) {
        font-size: em(16px);
        line-height: em(34px, 16px);
    }
}

.smallText {
    font-weight: 300;
    font-size: em(16px);
    line-height: em(24px, 16px);
    color: rgba(#000000, 0.6);
    margin-bottom: 12px;

    @media (max-width: $laptop) {
        margin-bottom: 10px;
    }
}

.name {
    font-size: em(40px);
    line-height: em(60px, 40px);
    margin-bottom: 32px;
    color: #000000;

    @media (max-width: $laptop) {
        font-size: em(20px);
        line-height: em(30px, 20px);
        margin-bottom: 10px;
    }
}

.contactUs {
    padding: 100px 120px 100px;
    margin: 0px auto;
    position: relative;
    background-color: #f8f8f8;
    text-align: center;

    &__heading {
        font-size: em(24px);
        line-height: em(33px, 24px);
        color: rgba(0, 0, 0, 0.5);
        margin-bottom: 40px;
    }

    &__email {
        font-size: em(40px);
        line-height: em(56px, 40px);
    }

    @media (max-width: $laptop) {
        padding: 50px 60px 50px;
    }

    @media (max-width: $tablet) {
        padding: 35px 25px 35px;

        &__heading {
            font-size: em(18px);
            line-height: em(25px, 18px);
            margin-bottom: 20px;
        }

        &__email {
            font-size: em(22px);
            line-height: em(31px, 22px);
        }
    }
}
