@use "sass:selector";
@import "../../1-settings/theme";
@import "../../2-tools/em";

.title {
    font-family: "Noto Sans", sans-serif;

    // @at-root #{selector.unify(h1, &)} {
    &Level1 {
        font-size: em(26px);
        line-height: em(39px, 26px);

        @media (min-width: $screen-md-min) {
            font-size: em(48px);
            line-height: em(72px, 48px);
        }
    }

    // @at-root #{selector.unify(h2, &)} {
    &Level2 {
        font-size: em(22px);
        line-height: em(33px, 22px);

        @media (min-width: $screen-md-min) {
            font-size: em(40px);
            line-height: em(60px, 40px);
        }
    }

    // @at-root #{selector.unify(h3, &)} {
    &Level3 {
        font-size: em(20px);
        line-height: em(30px, 20px);

        @media (min-width: $screen-md-min) {
            font-size: em(28px);
            line-height: em(42px, 28px);
        }
    }

    // @at-root #{selector.unify(h4, &)} {
    &Level4 {
        font-size: em(20px);
        line-height: em(32px, 20px);

        @media (min-width: $screen-md-min) {
            font-size: em(24px);
            line-height: em(35px, 24px);
        }
    }

    // @at-root #{selector.unify(h5, &)} {
    &Level5 {
        font-size: em(16px);
        line-height: em(24px, 16px);

        @media (min-width: $screen-md-min) {
            font-size: em(16px);
            line-height: em(24px, 16px);
        }
    }
}

.paragraph,
.paragraph p {
    &Big {
        $line-height: em(34px, 16px);
        font-size: em(16px);
        line-height: $line-height;
        margin-block: {
            start: 0;
            end: calc(#{$line-height} - 10px);
        }

        @media (min-width: $screen-md-min) {
            $line-height: em(50px, 18px);
            font-size: em(18px);
            line-height: $line-height;
            margin-block: {
                start: 0;
                end: calc(#{$line-height} - 10px);
            }
        }
    }

    &Medium {
        $line-height: em(34px, 16px);
        font-size: em(16px);
        line-height: $line-height;
        margin-block: {
            start: 0;
            end: calc(#{$line-height} - 10px);
        }

        @media (min-width: $screen-md-min) {
            $line-height: em(35px, 18px);
            font-size: em(18px);
            line-height: $line-height;
            margin-block: {
                start: 0;
                end: calc(#{$line-height} - 10px);
            }
        }
    }

    &Small {
        $line-height: em(26px, 14px);
        font-size: em(14px);
        line-height: $line-height;
        margin-block: {
            start: 0;
            end: calc(#{$line-height} - 10px);
        }

        @media (min-width: $screen-md-min) {
            $line-height: em(30px, 16px);
            font-size: em(16px);
            line-height: $line-height;
            margin-block: {
                start: 0;
                end: calc(#{$line-height} - 10px);
            }
        }
    }

    &:last-of-type {
        margin-block-end: 0;
    }
}

.faded {
    opacity: 0.6;
}
