@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3436;
    border: none;
    color: #ffffff;
    padding: 12px 17px 11px 20px;
    font-size: em(14px, 18px);
    border-radius: 0;
    outline: none;
    line-height: em(21px, 14px);
    font-weight: normal;
    cursor: pointer;

    &:hover {
        background-color: lighten(#2d3436, 15);
    }

    > svg {
        margin-left: 18px;
    }
}
