@use "sass:math";

@import "../../1-settings/theme";

@mixin create-grid($sizeClass: "") {
    $sizeClass: to-upper-case(
            $string:
                str-slice(
                    $string: $sizeClass,
                    $start-at: 1,
                    $end-at: 1,
                ),
        ) +
        str-slice(
            $string: $sizeClass,
            $start-at: 2,
        );

    @for $index from 0 through $grid-columns {
        @if ($index > 0) {
            .col#{$sizeClass}#{$index} {
                display: block;
                flex: 0 0 percentage(math.div($index, $grid-columns));
                max-width: percentage(math.div($index, $grid-columns));
            }

            .col#{$sizeClass}Push#{$index} {
                left: percentage(math.div($index, $grid-columns));
            }

            .col#{$sizeClass}Pull#{$index} {
                right: percentage(math.div($index, $grid-columns));
            }

            .col#{$sizeClass}Offset#{$index} {
                margin-left: percentage(math.div($index, $grid-columns));
            }

            .col#{$sizeClass}Order#{$index} {
                order: $index;
            }
        } @else {
            .col#{$sizeClass}#{$index} {
                display: none;
            }

            .colPush#{$index} {
                left: auto;
            }

            .colPull#{$index} {
                right: auto;
            }

            .col#{$sizeClass}Push#{$index} {
                left: auto;
            }

            .col#{$sizeClass}Pull#{$index} {
                right: auto;
            }

            .col#{$sizeClass}ffset#{$index} {
                margin-left: 0;
            }

            .col#{$sizeClass}Order#{$index} {
                order: 0;
            }
        }
    }
}
