@import "../../1-settings/theme";
@import "./mixins";

.container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 $grid-padding;
    overflow: hidden;

    @at-root main .paddingContainer#{&}:nth-of-type(n + 2) .row {
        padding-top: 25px;
        padding-bottom: 25px;

        @media (min-width: $screen-md-min) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }

    @at-root main .paddingContainer#{&}:nth-of-type(2) .row {
        padding-top: 50px;

        @media (min-width: $screen-md-min) {
            padding-top: 100px;
        }
    }

    @at-root main .paddingContainer#{&}:nth-last-of-type(2) .row {
        padding-bottom: 50px;

        @media (min-width: $screen-md-min) {
            padding-bottom: 100px;
        }
    }
}

.row {
    display: flex;
    flex-flow: row wrap;
    width: $grid-width;
    overflow: hidden;
    max-width: none;

    &::before,
    &::after {
        display: flex;
    }

    // No wrap of flex
    &NoWrap {
        flex-wrap: nowrap;
    }

    &Full {
        width: auto;
    }
}

.rowStart {
    justify-content: flex-start;
}

.rowCenter {
    justify-content: center;
}

.rowEnd {
    justify-content: flex-end;
}

.rowSpaceBetween {
    justify-content: space-between;
}

.rowSpaceArount {
    justify-content: space-around;
}

.rowTop {
    align-items: flex-start;
}

.rowMiddle {
    align-items: center;
}

.rowBottom {
    align-items: flex-end;
}

.col {
    position: relative;
    max-width: 100%;
    // Prevent columns from collapsing when empty
    min-height: 1px;
}

@include create-grid;

@include create-grid(xs);

// Small grid
//
// Columns, offsets, pushes, and pulls for the small device range, from phones
// to tablets.

@media (min-width: $screen-sm-min) {
    @include create-grid(sm);
}

// Medium grid
//
// Columns, offsets, pushes, and pulls for the desktop device range.

@media (min-width: $screen-md-min) {
    @include create-grid(md);
}

// Large grid
//
// Columns, offsets, pushes, and pulls for the large desktop device range.

@media (min-width: $screen-lg-min) {
    @include create-grid(lg);
}

// Extra Large grid
//
// Columns, offsets, pushes, and pulls for the full hd device range.

@media (min-width: $screen-xl-min) {
    @include create-grid(xl);
}

// Extra Extra Large grid
//
// Columns, offsets, pushes, and pulls for the full hd device range.

@media (min-width: $screen-xxl-min) {
    @include create-grid(xxl);
}

// Extra Extra extra Large grid

@media (min-width: $screen-xxxl-min) {
    @include create-grid(xxxl);
}
