@use "sass:map";
@import "../../1-settings/theme";
@import "../../2-tools/em";

$spacings: (
    y: 50px,
    lgY: 100px,
);

.ySpacing {
    margin: {
        top: map.get($spacings, y);
        bottom: map.get($spacings, y);
    }

    @media (min-width: $screen-lg-min) {
        margin: {
            top: map.get($spacings, lgY);
            bottom: map.get($spacings, lgY);
        }
    }
}

.topSpacing {
    margin-top: map.get($spacings, y);

    @media (min-width: $screen-lg-min) {
        margin-top: map.get($spacings, lgY);
    }
}

.bottomSpacing {
    margin-bottom: map.get($spacings, y);

    @media (min-width: $screen-lg-min) {
        margin-bottom: map.get($spacings, lgY);
    }
}
