@import "../../1-settings/breakpoints";

.root {
    background-color: #2d3436;
    color: #ffffff;
    padding: 0 120px 60px;
    position: relative;
    overflow: hidden;
    //min-height: 100vh;

    &[data-color="white"] {
        color: #2d3436;
        background-color: #ffffff;
    }

    .container {
        max-width: 1920px;
        margin: 0px auto;
        position: relative;
        padding-top: 185px;

        &--has-image {
            padding-top: 520px;
        }

        @media (max-width: $tablet) {
            padding-top: 100px;

            &--has-image {
                //padding-top: 65vh;
                padding-top: 460px;
            }
        }
    }

    .image {
        position: absolute;
        right: 0;
        top: 110px;
        transition: top 0.1s ease, transform 0.1s ease;
        will-change: top, transform;
        user-select: none;

        .willAnimate {
            opacity: 0;
        }

        img {
            height: 550px;
            transition: height 0.1s ease;
            will-change: height, opacity;

            @media (max-width: $desktop) {
                height: 400px;
            }

            @media (max-width: $tablet) {
                height: 320px;
                width: 100%;
            }
        }

        @media (max-width: $desktop) {
            top: 90px;
        }

        @media (max-width: $tablet) {
            width: 100%;
            text-align: center;
            left: 0;
        }
    }

    @media (max-width: $laptop) {
        padding: 0 60px 60px;
    }

    @media (max-width: $tablet) {
        padding: 0 25px 60px;
    }
}
