@import "../../1-settings/theme";
@import "../../2-tools/em";

.root {
    padding: 65px 0 10px;
    text-align: center;

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 18px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media (min-width: $screen-lg-min) {
                margin-bottom: 24px;
            }
        }
    }

    // TODO: create UnderlineLink component
    a {
        position: relative;

        &:hover {
            &:after {
                transform-origin: left;
                transform: scaleX(1);
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background: #FE4A23;
            left: 0;
            transform: scaleX(0);
            transition: transform 0.5s;
            transform-origin: right;
        }
    }

    @media (min-width: $screen-lg-min) {
        text-align: left;
        padding-left: 60px - 25px;
        padding-right: 60px - 25px;
    }
}

.row {
    width: 1920px;
}

.heading {
    margin-bottom: 18px;
    font-weight: 400;
    display: block;

    @media (min-width: $screen-lg-min) {
        margin-bottom: 24px;
    }
}

.logo {
    height: 50px;
    transform: translateX(-4px);

    @media (min-width: $screen-lg-min) {
        height: 60px;
        transform: none;
    }
}

.bottomBar {
    color: rgba(0, 0, 0, 0.6);
    margin-top: 46px;
    margin-bottom: 20px;

    a {    
        transition: color 0.2s ease;

        &:hover {
            color: rgba(0,0,0,0.8)
        }
    }

    @media (min-width: $screen-lg-min) {
        margin-top: 60px;
    }
}

.terms {
    text-align: inherit;
    justify-content: center;
    margin-top: 0;
    flex-direction: column;
    display: flex;

    a {
        margin-bottom: 20px;
        display: inline-block;

        &:last-of-type {
            margin-bottom: 0;
        }

        @media (min-width: $screen-xl-min) {
            margin-bottom: 0;
        }
    }

    @media (min-width: $screen-lg-min) {
        display: block;
    }

    @media (min-width: $screen-xxxl-min) {
        text-align: right;
    }
}

.divider {
    display: inline-block;
    width: 50px;
}
