@import "../../1-settings/theme";
@import "../../2-tools/em";

.row {
    font-size: em(16px);
    line-height: em(23px, 16px);

    label {
        cursor: pointer;
        margin-bottom: 8px;

        @media (min-width: $screen-lg-min) {
            margin-bottom: 0;
        }
    }

    @media (min-width: $screen-lg-min) {
        font-size: em(18px);
        line-height: em(27px, 18px);
    }
}

%basicInput {
    background-color: #f8f8f8;
    outline: none;
    //margin-bottom: 40px;
    position: relative;
    font-weight: 300;
    border: 1px solid #f8f8f8;
    transition: border 0.1s ease;
    line-height: normal;
    width: 100%;
    font-size: em(14px, 16px);
    padding: 10px;

    &[data-error] {
        border: 1px solid #e94b5b;
    }

    @media (min-width: $screen-lg-min) {
        width: auto;
        font-size: em(18px, 18px);
        padding: 16px 30px 15px;
    }
}

.input {
    @extend %basicInput;
    flex: 1 0 auto;
    margin-left: 0;
    //margin-right: 60px;

    @media (min-width: $screen-lg-min) {
        margin-left: 60px;
    }
}

.select {
    @extend %basicInput;

    margin-left: 0;
    //margin-right: 60px;
    appearance: none;
    width: 100%;

    &:focus {
        border: 1px solid darken(#f8f8f8, 10);
    }

    @media (min-width: $screen-lg-min) {
        margin-left: 60px;
    }
}

.selectWrap {
    position: relative;
    width: 100%;

    > svg {
        transform: rotate(90deg);
        position: absolute;
        right: 24px;
        height: 100%;
    }

    @media (min-width: $screen-lg-min) {
        width: auto;
        flex: 1 0 auto;
        display: flex;
    }
}

.textarea {
    @extend %basicInput;

    vertical-align: top;
    margin-bottom: 0;
    margin-left: 0px;
    resize: none;
    line-height: em(30px, 18px);

    @media (min-width: $screen-lg-min) {
        margin-left: 60px;
    }
}

.formRow {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    margin-bottom: 25px;

    @media (min-width: $screen-lg-min) {
        flex-direction: row;
        align-items: center;
        margin-bottom: 0;
        margin-bottom: 40px;
    }
}

.textAreaRow {
    align-items: flex-start;
    margin-bottom: 26px;

    > label {
        margin-top: 0;

        @media (min-width: $screen-lg-min) {
            margin-top: 25px;
        }
    }

    > textarea {
        flex: 1 0 auto;
    }
}

.submitRow {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    @media (min-width: $screen-lg-min) {
        flex-direction: row;
        justify-content: flex-end;
    }
}

%formFeedback {
    font-size: em(16px, 18px);
    line-height: em(24px, 16px);
    font-weight: normal;
    margin-right: 0;
    margin-bottom: 20px;

    @media (min-width: $screen-lg-min) {
        margin-right: 48px;
        margin-bottom: 0;
    }
}

.error {
    @extend %formFeedback;
    color: #e94b5b;
}

.success {
    @extend %formFeedback;
    color: #87c8d3;
}

.hideLg {
    display: initial;
    visibility: visible;
}

.showLg {
    display: none;
    visibility: hidden;
}

@media (min-width: $screen-lg-min) {
    .hideLg {
        display: none;
        visibility: hidden;
    }

    .showLg {
        display: block;
        visibility: visible;
    }
}
