@import "../../1-settings/theme";
@import "../../2-tools/em";

.secondary {
    font-weight: 500;
    font-size: em(18px);
    line-height: em(18px);
    display: inline-flex;
    align-items: center;
    cursor: pointer;

    .arrow {
        margin-left: 22px;
        display: flex;
        transition: transform 0.2s ease;
    }

    .arrowStart {
        margin-right: 22px;
        display: flex;
        transition: transform 0.2s ease;
        transform: rotate(180deg);
    }

    &:hover .arrow {
        transform: translateX(5px);
    }

    &:hover .arrowStart {
        transform: translateX(-5px) rotate(180deg);
    }
}
