@import "../../1-settings/breakpoints";
@import "../../1-settings/theme";
@import "../../2-tools/em";

.row {
    padding: 41px $grid-padding;
    background-color: #f8f8f8;
    text-align: center;

    @media (min-width: $screen-md-min) {
        padding: 100px $grid-padding;
    }
}

.heading {
    color: rgba(0, 0, 0, 0.6);
    margin-bottom: 16px;

    @media (min-width: $screen-md-min) {
        margin-bottom: 40px;
    }
}

.email {
    font-size: em(18px);
    line-height: em(27px, 18px);
    color: #000000;
    font-weight: 300;

    @media (min-width: $screen-md-min) {
        font-size: em(40px);
        line-height: em(60px, 40px);
    }
}

// TODO: create UnderlineLink component

.emailUrl {
    position: relative;

    &:hover {
        &:after {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: #FE4A23;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
        transform-origin: right;
    }
}
