@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    cursor: pointer;
    position: absolute;
    top: 60px; // header padding + 20 (magic)
    right: 60px; //header-padding
    z-index: 1;
    pointer-events: all;

    [data-lines="main"] {
        .root__line {
            stroke: #fff;
        }
    }

    [data-lines="secondary"] {
        .root__line {
            stroke: #2d3436;
        }
    }

    [data-lines="green"] {
        .root__line {
            stroke: #80ad12;
        }
    }

    &__line {
        fill: none;
        stroke-width: 2px;
        transition: stroke 0.2s ease, d 0.2s ease;
    }

    &[data-color="dark"] {
        [data-lines="main"] {
            .root__line {
                stroke: #2d3436;
            }
        }
    }

    &--is-open {
        [data-lines="green"] .root__line,
        .root__line {
            stroke: #2d3436;

            &:nth-of-type(1) {
                d: path("M 5,6 L 19,19");
            }

            &:nth-of-type(2) {
                d: path("M 5,19 L 19,5");
            }
        }
    }

    @media (max-width: $laptop) {
        top: 30px;
        right: 25px;
    }
}
