@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    font-size: em(18px);
    line-height: em(24px, 18px);
    font-weight: 500;
    color: #ffffff;
    margin-right: 20px;
    user-select: none;
    position: absolute;
    right: 84px; // right + width of menu icon
    top: 58px; // tyring to center the text next to the icon
    cursor: pointer;

    &[data-color="dark"] {
        color: #2d3436;
    }

    @media (max-width: $laptop) {
        display: none;
    }
}
