@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.wrapper {
    top: 0;
    right: 0;
    width: 100%;
    max-width: 670px;
    height: 100%;
    position: fixed;
    pointer-events: none;
}

.darkenedBackground {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.3);
    opacity: 0;
    pointer-events: none;
    transition: none;
    transition: opacity 0.2s ease;

    &--is-open {
        opacity: 1;
        pointer-events: all;
    }
}

.root {
    background: white;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 169px 110px 50px;
    pointer-events: none;
    transition: none;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: auto;

    .items {
        list-style: none;
        padding-left: 0;
        text-align: right;
        margin: 0;

        .item {
            font-size: em(40px);
            line-height: em(56px, 40px);
            font-weight: 500;
            margin-bottom: 30px;
        }

        @media (max-width: $tablet) {
            .item {
                font-size: em(30px);
                line-height: em(38px, 30px);
                margin-bottom: 20px;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    .social {
        margin: 0;
        list-style: none;
        padding-left: 0;
        font-weight: 500;
        margin-top: 70px;
        text-align: right;
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-end;
        gap: 30px;

        @media (max-width: $mobile-l) {
            flex-direction: column;
        }

        .socialItem {
            display: inline-block;
            text-transform: uppercase;
            line-height: em(30px);

            &:last-of-type {
                margin-right: 0;
            }

            &__name {
                display: block;
            }

            &__icon {
                display: none;

                img {
                    height: 22px;
                }
            }
        }
    }

    @media (max-width: $tablet) {
        padding: 110px 25px 30px;
    }
}
