@import "../../1-settings/theme";
@import "../../2-tools/em";

.root {
    background: url("/trees.svg") 660px bottom repeat-x;
    background-size: 1480px;
    margin: {
        top: 50px;
    }
    padding-bottom: 91px;

    @media (min-width: $screen-md-min) {
        margin: {
            top: 100px;
        }
        padding-bottom: 242px;
        background-position-x: center;
        background-size: auto;
    }
}

.title {
    margin-bottom: 18px;
    text-align: center;

    @media (min-width: $screen-md-min) {
        margin-bottom: 32px;
    }
}

.count {
    font-size: em(48px);
    line-height: em(72px, 48px);
    font-weight: 700;

    @media (min-width: $screen-md-min) {
        font-size: em(64px);
        line-height: em(96px, 64px);
    }
}
