@import "../../1-settings/breakpoints";
@import "../../1-settings/theme";
@import "../../2-tools/em";

.leftCol {
    @media (min-width: $screen-xxl-min) {
        margin-top: 400px;
    }
}

.lead {
    margin-bottom: 10px;

    // animation styles
    // height: em(42px, 28px);
    // padding-top: em(42px, 28px);
    overflow: hidden;
    will-change: padding-top;

    @media (min-width: $screen-md-min) {
        margin-bottom: 8px;
    }
}

.services {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;
    
    @media (min-width: $screen-md-min) {
        gap: 20px;
        flex-direction: row;
    }
}

.service {
    font-weight: 500;
    font-size: em(32px);
    line-height: em(48px, 32px);
    margin-bottom: 12px;
    margin-left: -10px;

    // animation styles
    // height: em(48px, 32px);
    // padding-top: em(48px, 32px);
    overflow: hidden;
    will-change: padding-top;

    &:first-of-type {
        // AnimatedLink padding offset
        margin-left: -10px;
        transition: transform 0.3s;

        @media (min-width: $screen-md-min) {
            &:hover {
                transform: translateX(10px);
            }
        }
    }

    &:last-of-type {
        margin-right: 0;
    }

    @media (min-width: $screen-md-min) {
        font-size: em(40px);
        line-height: em(60px, 40px);
        margin-bottom: 0;
        margin-left: 0;

        // height: em(60px, 40px);
        // padding-top: em(60px, 40px);
    }
}

.button {
    margin-top: 30px;
}

.introParagraph {
    display: none;
    // opacity: 0;

    @media (min-width: $screen-md-min) {
        display: block;
    }
}
