@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    background-color: #000000;
    color: white;
    padding-bottom: 100px;
}

.subtitle {
    margin-bottom: 20px;
}

.title {
    margin-bottom: 28px;
}

.titleContainer {
    margin-bottom: 50px;

    b {
        font-weight: 500;
    }

    @media (max-width: $tablet) {
        margin-bottom: 50px;
    }
}
