@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    background-color: #000000;
    color: white;
    padding-bottom: 100px;
}

.subtitle {
    margin-bottom: 20px;
}

.title {
    margin-bottom: 28px;
}

.stepsContainer {
    display: flex;
    flex-wrap: wrap;
}

.titleContainer {
    margin-bottom: 50px;

    b {
        font-weight: 500;
    }

    @media (max-width: $tablet) {
        margin-bottom: 50px;
    }
}

.step {
    $margin: 35px;
    --dot-opacity: 1;
    --dot-size: 22px;

    margin-right: $margin;
    padding-top: calc(50px + var(--dot-size));
    flex: 0 1 calc(25% - #{$margin});
    position: relative;

    &:first-of-type {
        --dot-opacity: 0.25;
    }

    &:nth-of-type(2) {
        --dot-opacity: 0.5;
    }

    &:nth-of-type(3) {
        --dot-opacity: 0.75;
    }

    &:last-of-type {
        margin-right: 0;

        .timeline:after {
            display: none;
        }
    }

    .timeline {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;

        &:before {
            content: "";
            width: var(--dot-size);
            height: var(--dot-size);
            display: block;
            opacity: var(--dot-opacity);
            background: #F9CE5D;
            border-radius: 50%;
            margin-right: 44px;
        }

        &:after {
            $height: 2px;
            content: "";
            display: block;
            height: $height;
            flex: 1;
            background-position: left;
            background-image: url("/dashed-line.svg");
            opacity: 0.5;

            @media (max-width: $laptop) {
                display: none;
                background: none;
            }
        }
    }

    @media (max-width: $laptop) {
        flex: 0 1 calc(50% - #{$margin});
        margin-bottom: 50px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media (max-width: $tablet) {
        --dot-size: 18px;

        flex: 1 1 100%;
        margin-right: 0;
        padding-top: calc(25px + var(--dot-size));
    }
}

.stepTitle {
    margin-bottom: 24px;
}
