@import "../../1-settings/theme";
@import "../../2-tools/em";

.imageWrapper {
    position: relative;
    height: 205px;

    @media (min-width: $screen-sm-min) {
        min-height: 470px;
        height: 400px;
    }

    @media (min-width: $screen-lg-min) {
        min-height: 470px;
        height: 100%;
    }
}

.name {
    margin-bottom: 32px;
}

.jobTitle {
    margin-bottom: 12px;
}

.additionalInformation {
    margin-top: 18px;
    margin-right: 50px;
}
