@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.bgWrapper {
    background-color: #000000;
    overflow: auto;
}

.masonryContainer {
    display: flex;
    color: #000000;
    width: auto;
    margin-left: -30px;
}

.masonryContainerColumn {
    background-clip: padding-box;
    padding-left: 30px;

    @for $column from 1 through 3 {
        &:nth-of-type(#{$column + 1}) {
            // background-color: lighten(green, $i * 5);
            margin-top: 100px * $column;
        }
    }
}
