@import "../../1-settings/breakpoints";
@import "../../1-settings/theme";
@import "../../2-tools/em";

.intro {
    margin-bottom: 85px;
    max-width: 630px;
    position: relative;
    z-index: 10;

    @media (min-width: $screen-md-min) {
        margin-bottom: 245px;
    }
}

.callout {
    margin-bottom: 130px;

    .our-approach {
        color: rgba(255, 255, 255, 0.6);
        line-height: em(23px);
        margin-bottom: 20px;
        display: inline-block;
        text-decoration: none;

        @media (max-width: $tablet) {
            margin-bottom: 12px;
            font-size: em(16px);
        }
    }

    b {
        font-weight: 500;
    }

    @media (max-width: $tablet) {
        margin-bottom: 50px;
    }
}

.lead {
    color: rgba(255, 255, 255, 0.6);
    font-size: em(18px);
    line-height: em(25px, 18px);
    margin-bottom: 10px;

    // animation styles
    height: em(42px, 28px);
    padding-top: em(42px, 28px);
    overflow: hidden;
    will-change: padding-top;

    @media (min-width: $screen-md-min) {
        margin-bottom: 8px;
        font-size: em(28px);
        line-height: em(42px, 28px);
    }
}

.button {
    margin-top: 30px;
}

.services {
    display: flex;
    margin-bottom: 60px;
    flex-wrap: wrap;
    flex-direction: column;
    align-items: flex-start;

    @media (min-width: $screen-md-min) {
        flex-direction: row;
    }
}

.service {
    margin-right: 20px;
    font-weight: 500;
    font-size: em(32px);
    line-height: em(45px, 32px);
    margin-bottom: 15px;
    margin-left: -10px;

    // animation styles
    height: em(60px, 40px);
    padding-top: em(60px, 40px);
    overflow: hidden;
    will-change: padding-top;

    &:first-of-type {
        // AnimatedLink padding offset
        margin-left: -10px;
        transition: transform 0.3s;

        @media (min-width: $screen-md-min) {
            &:hover {
                transform: translateX(10px);
            }
        }
    }

    &:last-of-type {
        margin-right: 0;
    }

    @media (min-width: $screen-md-min) {
        font-size: em(40px);
        line-height: em(60px, 40px);
        margin-bottom: 0;
        margin-left: 0;
    }
}

.introParagraph {
    display: none;
    opacity: 0;

    @media (min-width: $screen-md-min) {
        display: block;
    }
}
