@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    display: flex;
    flex-wrap: wrap;

    h2 {
        font-size: em(24px);
        line-height: em(33px, 24px);
        margin-bottom: 27px;

        @media (max-width: $tablet) {
            font-size: em(20px);
            line-height: em(28px, 20px);
            margin-bottom: 10px;
        }
    }

    p {
        color: rgba(255, 255, 255, 0.6);
        font-size: em(18px);
        line-height: em(34px, 18px);

        @media (max-width: $tablet) {
            font-size: em(16px);
            line-height: em(34px, 16px);
        }
    }
}

.step {
    $margin: 35px;
    --dot-opacity: 1;
    --dot-size: 22px;

    margin-right: $margin;
    padding-top: calc(50px + var(--dot-size));
    flex: 0 1 calc(25% - #{$margin});
    position: relative;

    &:first-of-type {
        --dot-opacity: 0.25;
    }

    &:nth-of-type(2) {
        --dot-opacity: 0.5;
    }

    &:nth-of-type(3) {
        --dot-opacity: 0.75;
    }

    &:last-of-type {
        margin-right: 0;

        .timeline:after {
            display: none;
        }
    }

    .timeline {
        display: flex;
        align-items: center;
        position: absolute;
        top: 0;
        width: 100%;

        &:before {
            content: "";
            width: var(--dot-size);
            height: var(--dot-size);
            display: block;
            opacity: var(--dot-opacity);
            background: #87c8d3;
            border-radius: 50%;
            margin-right: 44px;
        }

        &:after {
            $height: 2px;
            content: "";
            display: block;
            height: $height;
            flex: 1;
            background-position: left;
            background-image: url("/dashed-line.svg");
            opacity: 0.5;

            @media (max-width: $laptop) {
                display: none;
                background: none;
            }
        }
    }

    @media (max-width: $laptop) {
        flex: 0 1 calc(50% - #{$margin});
        margin-bottom: 50px;

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    @media (max-width: $tablet) {
        --dot-size: 18px;

        flex: 1 1 100%;
        margin-right: 0;
        padding-top: calc(25px + var(--dot-size));
    }
}
