@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    font-size: em(18px);
    opacity: 0.4;
    display: inline-flex;
    align-items: center;
    position: absolute;
    top: 150px;
    font-weight: normal;

    img {
        transform: rotateY(180deg);
        height: 15px;
        margin-right: 15px;
    }

    @media (max-width: $tablet) {
        font-size: em(16px);
        line-height: em(23px, 16px);
        margin-bottom: 20px;
        top: 0;
        position: relative;
    }
}
