@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.paragraph {
    font-size: em(18px);
    line-height: em(50px, 18px);

    @media (max-width: $tablet) {
        font-size: em(16px);
        line-height: em(34px, 16px);
        margin-top: 0;
    }
}

.heading {
    @media (max-width: $tablet) {
        font-size: em(20px);
        line-height: em(39px, 20px);
    }
}
