@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.intro {
    max-width: 670px;
    margin-bottom: 70px;

    @media (max-width: $laptop) {
        margin-bottom: 0;
    }

    &__title {
        font-size: em(40px);
        line-height: em(56px, 40px);
        margin-bottom: 8px;

        @media (max-width: $tablet) {
            font-size: em(22px);
            line-height: em(31px, 22px);
            margin-bottom: 10px;
        }
    }

    &__subtitle {
        font-size: em(28px);
        line-height: em(39px, 28px);
        opacity: 0.6;

        @media (max-width: $tablet) {
            font-size: em(18px);
            line-height: em(25px, 18px);
        }
    }

    &__paragraph {
        font-size: em(18px);
        line-height: em(35px, 18px);
        margin-top: 69px;
        font-weight: normal;

        @media (max-width: $tablet) {
            font-size: em(16px);
            line-height: em(34px, 16px);
            margin-top: 50px;
        }
    }
}

.link {
    font-size: em(18px);
    line-height: em(35px, 18px);
    font-weight: 600;

    &:hover {
        img {
            transform: translateX(5px);
        }
    }

    span {
        display: inline-flex;
        align-items: center;
    }

    img {
        height: 15px;
        margin-left: 20px;
        transition: transform 0.2s ease;

        @media (max-width: $tablet) {
            margin-left: 10px;
        }
    }

    @media (max-width: $tablet) {
        display: block;
        font-size: em(16px);
        line-height: em(35px, 16px);
    }
}
