@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.intro {
    max-width: 1150px;
    display: flex;
    justify-content: space-between;
    margin: 0px auto;

    &__heading {
        flex: 1 0 auto;

        // animation styles
        height: em(67px, 48px);
        //padding-top: em(67px, 48px);
        overflow: hidden;
        will-change: padding-top;

        @media (max-width: $laptop) {
            font-size: em(28px);
        }
    }

    &__paragraph {
        margin-left: 200px;
        font-weight: 400;
        font-size: 1.125em;
        line-height: 1.944em;
        margin-top: 0;

        @media (max-width: $laptop) {
            margin-top: 25px;
            margin-left: 0;
        }

        @media (max-width: $tablet) {
            display: none;
        }
    }

    @media (max-width: $laptop) {
        flex-direction: column;
    }
}

.root {
    $gap: 30px;
    --items-per-row: 3;
    --service-max-width: 410px;
    margin: 120px auto 0;
    max-width: calc(
        var(--service-max-width) * var(--items-per-row) +
            calc(calc(var(--items-per-row) - 1) * #{$gap})
    );

    &__masonryContainer {
        display: flex;
        color: #333333;
        width: auto;
        margin-left: -30px;
    }

    &__column {
        background-clip: padding-box;
        padding-left: $gap;

        @for $column from 1 through 2 {
            &:nth-of-type(#{$column + 1}) {
                // background-color: lighten(green, $i * 5);
                margin-top: 100px * $column;
            }
        }
    }

    @media (max-width: $laptop) {
        margin-top: 45px;
    }

    @media (max-width: $tablet) {
        max-width: 100%;
    }
}
