@import "../../1-settings/breakpoints";

.root {
    display: inline-block;
    margin-bottom: 30px;
    background: white;
    padding: 300px 70px 50px 50px;
    position: relative;
    overflow: hidden;

    // Gets added after animation completes
    // transition: transform 0.4s ease;

    .megaTitle {
        position: absolute;
        left: 50px;
        top: 0;
        font-weight: 600;
        font-size: 180px;
        line-height: 250px;
        color: transparent;
        -webkit-text-stroke: 2px rgba(0, 0, 0, 0.15);
        transition: transform 2.5s ease, color 0.1s ease, -webkit-text-stroke 0.1s ease;
        user-select: none;

        @media (max-width: $tablet) {
            font-size: 100px;
            line-height: 140px;
        }
    }

    .title {
        font-weight: 500;
    }

    .paragraph {
        font-weight: 400;
        font-size: 1.125em;
        line-height: 1.889em;
        color: rgba(0, 0, 0, 0.8);
        margin-top: 28px;

        @media (max-width: $tablet) {
            font-size: 1em;
            line-height: 2.125em;
        }
    }

    .iconWrapper {
        display: inline-block;
        position: absolute;
        bottom: 40px;
        right: 25px;

        .icon {
            width: 20px;
        }
    }

    &:hover {
        @media(min-width: $tablet) {
            transform: translateY(-10px) !important;

            .megaTitle {
                color: #F24242;
                -webkit-text-fill-color: #F24242;
                transform: translateX(calc(-100% + 410px - 100px));
                -webkit-text-stroke: 2px #F24242;
            }
        }
    }

    @media (max-width: $tablet) {
        padding: 160px 35px 36px;
    }
}
