@use "2-tools/em";

$genips-prefix: genips;

// Media queries breakpoints
// $screen-(x)xs and $screen-(x)xs-min is not used in Grid
// smallest break point is $screen-medium
$screen-xxs: 376px;
$screen-xxs-min: $screen-xxs;
// 👆 Extra extra small screen / phone

// Extra small screen / phone
$screen-xs: 426px;
$screen-xs-min: $screen-xs;

// 👇 Small screen / tablet
$screen-sm: 576px;
$screen-sm-min: $screen-sm;

// Medium screen / desktop
$screen-md: 768px;
$screen-md-min: $screen-md;

// Large screen / wide desktop
$screen-lg: 1024px;
$screen-lg-min: $screen-lg;

// Extra large screen / full hd
$screen-xl: 1200px;
$screen-xl-min: $screen-xl;

// Extra extra large screen / large desktop
$screen-xxl: 1440px;
$screen-xxl-min: $screen-xxl;

// Extra extra extra large screen
$screen-xxxl: 1600px;
$screen-xxxl-min: $screen-xxxl;

// Extra extra extra extra large screen
$screen-xxxxl: 2560px;
$screen-xxxxl-min: $screen-xxxxl;

// provide a maximum
$screen-xxs-max: ($screen-xs-min - 1px);
$screen-xs-max: ($screen-sm-min - 1px);
$screen-sm-max: ($screen-md-min - 1px);
$screen-md-max: ($screen-lg-min - 1px);
$screen-lg-max: ($screen-xl-min - 1px);
$screen-xl-max: ($screen-xxl-min - 1px);
$screen-xxl-max: ($screen-xxxl-min - 1px);
$screen-xxxl-max: ($screen-xxxxl-min - 1px);

// Grid system
$grid-columns: 12;
$grid-width: 1680px;
$grid-padding: 25px;

$section-y-padding: 50px;
$section-y-padding-lg: 100px;

// Tag
$tag-default-bg: #fafafa;
$tag-default-color: rgba(#000000, 0.85);
$tag-text-color-inverse: #ffffff;
$tag-font-size: em(14px);
$tag-line-height: em(21px, 14px);
$tag-font-weight: 400;

// Divider
$divider-text-padding: 1em;
$divider-orientation-margin: 5%;
$divider-color: #dedede;
