@import "../../1-settings/theme";
@import "../../2-tools/em";

.titleWrapper {
    display: flex;
    align-items: center;
}

.alignRight {
    @media (min-width: $screen-md-min) {
        justify-content: flex-end;
    }
}

.light {
    color: #ffffff;
}
