@import "../../1-settings/theme";
@import "../../2-tools/em";

.row {
    padding-top: $section-y-padding * 0.5;
    // padding - yGutter
    padding-bottom: ($section-y-padding - 30px) * 0.5;

    @media (min-width: $screen-md-min) {
        padding-bottom: $section-y-padding * 0.5;
    }

    @media (min-width: $screen-lg-min) {
        padding-top: $section-y-padding-lg;
        padding-bottom: $section-y-padding-lg;
    }

    p {
        font-size: em(16px);
        line-height: em(34px, 16px);
        color: #000000;
        margin-top: 0;
        font-weight: 400;

        @media (min-width: $screen-md-min) {
            font-size: em(18px);
            line-height: em(50px, 18px);
        }

        &:last-of-type {
            margin-bottom: 0;
        }
    }

    &.rowFirst {
        padding-top: $section-y-padding;

        @media (min-width: $screen-lg-min) {
            padding-top: $section-y-padding-lg;
        }
    }

    &.rowLast {
        padding-bottom: ($section-y-padding - 30px);

        @media (min-width: $screen-md-min) {
            padding-bottom: $section-y-padding * 0.5;
        }
    }
}

.container {
    composes: paddingContainer from "../grid/grid.module.scss";
}

/* .test {
    composes: container from "../grid/grid.module.scss";
} */

.headingCol {
    display: flex;
    align-items: center;
}

.imageWrapper {
    height: 100%;
    height: 205px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &[data-image-fit="contain"] {
            object-fit: contain;
        }
    }

    @media (min-width: $screen-sm-min) {
        height: 300px;
    }

    @media (min-width: $screen-lg-min) {
        height: 470px;
    }
}

.heading {
    color: #000000;
    font-size: em(20px);

    @media (min-width: $screen-md-min) {
        font-size: em(40px);
        line-height: em(60px, 40px);
    }
}

.smallText {
    font-size: em(16px);
    line-height: em(24px);
    margin-bottom: 10px;
    opacity: 0.6;

    @media (min-width: $screen-lg-min) {
        margin-bottom: 12px;
    }
}

.name {
    font-size: em(20px);
    line-height: em(30px, 16px);
    margin-bottom: 10px;

    @media (min-width: $screen-lg-min) {
        font-size: em(40px);
        line-height: em(60px, 40px);
        margin-bottom: 32px;
    }
}
