// body {
//     font-size: $text-base-size;
//     font-family: $font-primary;
//     color: $color-text;
//     background-color: $color-body-background;
// }

body {
    font-family: "Noto Sans", sans-serif;
    font-weight: 300;
    color: #2d3436;
    background-color: #ffffff;
}

html {
    box-sizing: border-box;
    scroll-padding-top: 32px;
}

*,
*:before,
*:after {
    box-sizing: inherit;
}

b,
strong {
    font-weight: 700;
}

ul:last-of-type {
    margin-block-end: 0;
}

