@import "../../1-settings/colors";

@mixin create-color-classes {
    @each $name, $color in $preset-colors {
        $colorName: to-upper-case(
                $string:
                    str-slice(
                        $string: $name,
                        $start-at: 1,
                        $end-at: 1,
                    ),
            ) +
            str-slice(
                $string: $name,
                $start-at: 2,
            );

        @at-root .tag#{$colorName} {
            background: $color;
            color: #ffffff;
        }
    }
}
