@import "../../1-settings/theme";
@import "../../2-tools/em";
@import "./mixins";

.tag {
    display: inline-block;
    height: auto;
    margin-right: 12px;
    padding: 6px 8px;
    font-size: em(14px);
    font-weight: $tag-font-weight;
    line-height: em(21px, 14px);
    white-space: nowrap;
    background: $tag-default-bg;
    opacity: 1;
    transition: all 0.3s;
    // text-transform: lowercase;

    &:hover {
        opacity: 0.85;
    }

    &,
    a,
    a:hover {
        color: $tag-default-color;
    }

    > a:first-child:last-child {
        display: inline-block;
        margin: 0 -8px;
        padding: 0 8px;
    }

    &HasColor {
        border-color: transparent;
        &,
        a,
        a:hover {
            color: $tag-text-color-inverse;
        }
    }

    @include create-color-classes;

    @media (min-width: $screen-md-min) {
        margin-right: 18px;
        padding: 8px 10px;
        font-size: em(16px);
        line-height: em(24px, 16px);
    }
}
