@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.heading {
    font-size: em(40px);
    line-height: em(56px, 40px);
    margin-bottom: 8px;

    @media (max-width: $tablet) {
        font-size: em(22px);
        line-height: em(31px, 22px);
        margin-bottom: 10px;
    }
}

.intro {
    font-size: em(18px);
    line-height: em(35px, 18px);
    margin-top: 27px;
    max-width: 515px;

    @media (max-width: $tablet) {
        font-size: em(16px);
        line-height: em(34px, 16px);
        margin-top: 50px;
        margin-bottom: 0;
    }
}

.link {
    font-size: em(18px);
    line-height: em(35px, 18px);
    font-weight: 600;
    margin-top: 26px;
    display: inline-block;

    &:hover {
        img {
            transform: translateX(5px);
        }
    }

    span {
        display: inline-flex;
        align-items: center;
    }

    img {
        height: 15px;
        margin-left: 20px;
        transition: transform 0.2s ease;

        @media (max-width: $tablet) {
            margin-left: 10px;
        }
    }

    @media (max-width: $tablet) {
        display: block;
        font-size: em(16px);
        line-height: em(35px, 16px);
    }
}
