@import "../../1-settings/theme";
@import "../../1-settings/colors";
@import "../../2-tools/em";

.h2 {
    font-size: em(22px);
    line-height: em(33px, 22px);
    margin-bottom: 6px;

    @media (min-width: $screen-md-min) {
        font-size: em(40px);
        line-height: em(60px, 40px);
        margin-bottom: 8px;
    }
}

.h3 {
    font-size: em(20px);
    line-height: em(30px, 20px);

    @media (min-width: $screen-md-min) {
        font-size: em(28px);
        line-height: em(42px, 28px);
    }
}

/* .body {
    font-size: em(16px);
    line-height: em(34px, 16px);
    margin-top: 47px;
    max-width: 515px;
    margin-bottom: 0;

    @media (min-width: $screen-md-min) {
        font-size: em(18px);
        line-height: em(35px, 18px);
        margin-top: 60px;
    }
} */

.backButton {
    opacity: 0.6;
    // Title's margin top
    margin-top: 153px;

    @media (min-width: $screen-lg-min) {
        position: absolute;
        top: 0;
        margin-top: 0;
    }

    ~ .title {
        margin-top: 20px;

        @media (min-width: $screen-lg-min) {
            margin-top: 120px;
        }
    }
}

.title {
    margin-top: 153px;

    @media (min-width: $screen-lg-min) {
        margin-top: 120px;
    }
}

.subtitle {
    margin-top: 6px;

    @media (min-width: $screen-lg-min) {
        margin-top: 8px;
    }
}

.body {
    margin-block-start: 47px !important;
    max-width: 590px;

    @media (min-width: $screen-lg-min) {
        margin-block-start: 60px !important;
    }
}

.root {
    padding: {
        top: 120px;
        bottom: 50px;
    }
    background-color: #000000;
    color: #ffffff;

    @media (min-width: $screen-lg-min) {
        padding: {
            top: 170px;
            bottom: 145px;
        }
    }

    &.white,
    &.light,
    [data-color="light"] {
        color: #2d3436;
        background-color: #ffffff;
    }

    &.green,
    &[data-color="green"] {
        color: #ffffff;
        background-color: map-get($preset-colors, "genipsGreen");
    }

    &.empty {
        padding: {
            top: 120px;
            bottom: 0;
        }

        @media (min-width: $screen-lg-min) {
            padding: {
                top: 170px;
                bottom: 0;
            }
        }
    }
}

.button {
    margin-top: 21px;
}

.image {
    max-width: 100%;
    height: auto;
}
