@import "../1-settings/breakpoints";

h1,
h2,
h3,
h4,
h5 {
    margin: 0;
    font-weight: 300;
}

h1 {
    font-size: 3em;
    line-height: 1.354em;

    @media (max-width: $tablet) {
        font-size: 1.625em;
        line-height: 1.5em;
    }
}

h2 {
    font-size: 2.5em;
    line-height: 1.7em;

    @media (max-width: $tablet) {
        font-size: 1.375em;
        line-height: 1.545em;
    }
}

h3 {
    font-size: 1.75em;
    line-height: 1.29em;
    letter-spacing: normal;

    @media (max-width: $tablet) {
        font-size: 1.25em;
    }
}

h4 {
    font-size: 1.125em;
    line-height: 1.944em;
}

h5 {
    font-size: 1em;
    font-weight: 400;
}
