p {
    // font-weight: 300;
    // font-size: 1.125em;
    // line-height: 1.889em;
}

code {
    margin: 0 0.2em;
    padding: 0.2em 0.4em 0.1em;
    font-size: 0.85em;
    background: rgba(150, 150, 150, 0.1);
    border: 1px solid rgba(100, 100, 100, 0.2);
    border-radius: 3px;
    font-family: sfmono-regular, Consolas, liberation mono, Menlo, Courier, monospace;
}

mark {
    background-color: #88c8d3;
}

hr {
    border-top: #F2F2F2;
}