@import "../../1-settings/theme";

.divider {
    border-top: 1px solid $divider-color;
}

.dividerVertical {
    position: relative;
    top: -0.06em;
    display: inline-block;
    height: 0.9em;
    margin: 0 8px;
    vertical-align: middle;
    border-top: 0;
    border-left: 1px solid $divider-color;

    &.dividerDashed {
        border-width: 0 0 0 1px;
    }
}

.dividerHorizontal {
    display: flex;
    clear: both;
    width: 100%;
    min-width: 100%;
    margin: 24px 0;

    &.dividerWithText {
        display: flex;
        margin: 16px 0;
        color: #000000;
        font-weight: 500;
        font-size: em(18px);
        white-space: nowrap;
        text-align: center;
        border-top: 0;
        border-top-color: $divider-color;

        &::before,
        &::after {
            position: relative;
            top: 50%;
            width: 50%;
            border-top: 1px solid transparent;
            // Chrome not accept `inherit` in `border-top`
            border-top-color: inherit;
            border-bottom: 0;
            transform: translateY(50%);
            content: "";
        }
    }

    &.dividerWithTextLeft {
        &::before {
            top: 50%;
            width: $divider-orientation-margin;
        }
        &::after {
            top: 50%;
            width: 100% - $divider-orientation-margin;
        }
    }

    &.dividerWithTextRight {
        &::before {
            top: 50%;
            width: 100% - $divider-orientation-margin;
        }
        &::after {
            top: 50%;
            width: $divider-orientation-margin;
        }
    }

    &.dividerWithText.dividerDashed {
        border-top: 0;

        &::before,
        &::after {
            border-style: dashed none none;
        }
    }

    .dividerInnerText {
        display: inline-block;
        padding: 0 $divider-text-padding;
    }
}

.dividerDashed {
    background: none;
    border-color: $divider-color;
    border-style: dashed;
    border-width: 1px 0 0;
}

.dividerPlain.dividerWithText {
    color: #000000;
    font-weight: normal;
    font-size: em(16px);
}
