@import "../../1-settings/theme";
@import "../../2-tools/em";

@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");

.head {
    padding-top: 110px;
    padding-bottom: 45px;
    text-align: center;

    @media (min-width: $screen-md-min) {
        padding-top: 150px;
        padding-bottom: 60px;
    }
}

.meta {
    color: rgba(#000000, 60%);
    font-size: em(16px);
    line-height: em(24px, 16px);
    margin-bottom: 8px;

    @media (min-width: $screen-md-min) {
        font-size: em(20px);
        line-height: em(30px, 20px);
        margin-bottom: 6px;
    }
}

.heading {
    font-size: em(22px);
    line-height: em(33px, 22px);
    margin-bottom: 16px;
    color: #000000;

    @media (min-width: $screen-md-min) {
        font-size: em(40px);
        line-height: em(60px, 40px);
        margin-bottom: 18px;
    }
}

.heroImageWrapper {
    width: 100%;
    height: 205px;
    margin-bottom: 15px;
    position: relative;

    @media (min-width: $screen-md-min) {
        height: 480px;
    }

    @media (min-width: $screen-lg-min) {
        height: 960px;
        margin-bottom: 25px;
    }
}

.imageWrapper {
    width: 100%;
    height: auto;

    > div {
        width: 100%;
    }

    @media (min-width: $screen-md-min) {
        max-height: 650px;
    }
}

.section {
    padding-top: 15px;
    padding-bottom: 15px;

    @media (min-width: $screen-md-min) {
        padding-top: 25px;
        padding-bottom: 25px;
    }
}

.title {
    font-family: "Merriweather", serif;
    font-size: em(20px);
    line-height: em(25px, 20px);
    margin-bottom: 35px;
    font-weight: 400;
    color: #000000;

    @media (min-width: $screen-md-min) {
        font-size: em(30px);
        line-height: em(38px, 30px);
        margin-bottom: 26px;
    }
}

.paragraph {
    font-family: "Merriweather", serif;
    font-size: em(16px);
    line-height: em(36px, 16px);
    color: #2d3436;
    font-weight: 400;

    &:last-of-type {
        margin-bottom: 0;
    }

    @media (min-width: $screen-md-min) {
        font-size: em(20px);
        line-height: em(42px, 20px);
    }
}
