@use "5.1-components/grid/helpers.module.scss" as grid;
@use "sass:map";
@import "../../1-settings/theme";
@import "../../2-tools/em";

.tag {
    margin-bottom: 5px;
}

.tagList {
    margin-bottom: 11px - 5px;

    @media (min-width: $screen-md-min) {
        margin-bottom: 16px - 5px;
    }
}

.meta {
    display: none;
    color: rgba(#000000, 60%);
    font-weight: 300;
    font-size: em(16px);
    line-height: em(24px, 16px);
    margin-bottom: 10px;

    @media (min-width: $screen-md-min) {
        display: inline-block;
    }
}

.imageWrapper {
    height: 300px;
    margin-bottom: 10px;
    position: relative;
    display: block;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    @media (min-width: $screen-md-min) {
        margin-bottom: 18px;
    }
}

.title {
    font-size: em(20px);
    line-height: em(32px, 20px);

    &,
    a,
    a:hover {
        color: #000000;
    }

    @media (min-width: $screen-md-min) {
        font-size: em(24px);
        line-height: em(36px, 24px);
    }
}

.articlesWrapper {
    margin: {
        top: -60px;
        bottom: map.get(grid.$spacings, y);
    }

    @media (min-width: $screen-xl-min) {
        margin: {
            top: -140px;
            bottom: map.get(grid.$spacings, lgY);
        }
    }
}

.heroContainer {
    @media (max-width: $screen-md-max) {
        // Default 50px + 60px from negative margin of articlesWrapper
        padding-bottom: 110px;
    }
}
