@import "../../2-tools/em";

.root {
    font-size: em(16px);
    line-height: em(23px, 16px);

    &__row {
        display: flex;
        flex-direction: column;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        padding: 15px 20px;

        &[data-type="heading"] {
            font-weight: normal;
            background-color: #f3f3f2;
            border-top: 0;

            & + .root__row {
                border-top: 0;
            }
        }
    }

    &__title {
        font-weight: normal;
        margin-bottom: 8px;
    }
}
