@import "../../2-tools/em";

.root {
    background: #f3f3f2;
    padding: 16px 20px;
}

.package {
    &__name {
        font-size: em(16px);
        line-height: em(23px, 16px);
        text-transform: uppercase;
        font-weight: 400;
        border-bottom: 2px dashed rgba(0, 0, 0, 0.15);
        padding-bottom: 5px;
    }

    &__pricing {
        display: flex;
        align-items: center;
        margin-top: 13px;
    }

    &__price {
        font-size: em(20px);
        line-height: em(28px, 20px);
        margin-right: 10px;
    }

    &__description {
        display: flex;
        align-items: center;
        font-size: em(16);
        line-height: em(24px, 16px);
        margin-top: 18px;
    }

    &__term {
        font-size: em(16px);
        color: rgba(0, 0, 0, 0.5);
    }
}
