@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    max-width: 1920px;
    margin: 0px auto;
    position: relative;
    padding: 100px 120px 100px;
    width: 100%;

    table {
        border-collapse: collapse;
        width: 100%;
    }

    @media (max-width: $desktop) {
        padding: 50px 60px 50px;
    }

    @media (max-width: $tablet) {
        padding: 30px 25px 30px;
    }

    &[data-col-count="4"] {
        td {
            vertical-align: middle;
        }
    }

    composes: decrease-top-padding from "./tableSwitcher.module.scss";
}
