@import "../../1-settings/breakpoints";
@import "../../2-tools/em";

.root {
    position: sticky;
    top: 30px;
    display: flex;
    font-size: em(14px);
    font-weight: normal;
    line-height: em(20px, 14px);
    margin-bottom: 15px;
    margin-top: -15px;
    flex-wrap: wrap;

    @media (max-width: $mobile-l) {
        top: 60px; // Offset the menu icon
    }

    .package {
        padding: 12px 16px;
        margin-right: 13px;
        margin-top: 15px;
        // background: rgba(0, 0, 0, 0.03);
        background: #f7f7f7;
        color: rgba(0, 0, 0, 0.5);
        cursor: pointer;

        &[data-active] {
            color: #ffffff;
            background: #2d3436;
        }

        &:last-of-type {
            margin-right: 0;
        }
    }
}
