@import "../../2-tools/em";

.row {
    width: 100%;
    font-size: em(18px);
    line-height: em(28px, 18px);

    &__title {
        padding: 25px 20px;
        font-weight: 400;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        min-width: 250px;

        &[data-has-description="true"] {
            cursor: help;
            position: relative;

            &:hover > .tooltip {
                visibility: visible;
                opacity: 1;
            }
        }
    }

    &__cell {
        margin-right: 16px;
        padding: 25px 20px;
        text-align: center;
        border-top: 2px solid rgba(0, 0, 0, 0.1);
        vertical-align: top;

        &:last-of-type {
            margin-right: 0;
        }

        ul {
            display: flex;
            flex-direction: column;
            align-items: center;
        }
    }

    &[data-type="heading"] {
        td {
            padding: 25px 20px;
            border: none;
            background-color: #f3f3f2;
            background-clip: padding-box;
            font-weight: 500;
        }

        & + tr > td {
            border-top: none;
        }
    }

    .subValue {
        display: block;
        font-style: italic;
        font-size: 16px;
        margin-top: 15px
    }
}

.tooltip {
    visibility: hidden;
    background-color: black;
    color: white;
    text-align: center;
    padding: 15px 24px;
    border-radius: 16px;
    font-weight: 300;
    font-size: em(16px, 18px);
    line-height: em(27px, 16px);
    min-width: 340px;

    position: absolute;
    z-index: 1;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);

    opacity: 0;
    transition: opacity 0.3s;

    &:after {
        content: "";
        position: absolute;
        bottom: 100%;
        left: 50%;
        margin-left: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent #2d3436 transparent;
    }
}
