@import "../../1-settings/breakpoints";

.root {
    max-width: 1920px;
    margin: 0px auto;
    position: relative;
    padding: 100px 120px 0;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (max-width: $laptop) {
        padding: 50px 60px 50px;
    }

    @media (max-width: $tablet) {
        padding: 30px 25px 30px;
    }

    & + .decrease-top-padding {
        padding-top: 30px;
    }
}

.value {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 0 auto;
    padding: 10px;
    font-size: 1.125em;
    line-height: 1.944em;
    cursor: pointer;
    transition: all 0.1s ease;
    background-color: rgba(0, 0, 0, 0.03);

    &[data-is-active="true"] {
        background-color: black;
        color: white;
    }
}
