@import "../../2-tools/em";

.root {
    width: 100%;
    vertical-align: bottom;

    &__cell {
        width: 25%;
        max-width: 410px;
        padding: 0;

        &:last-of-type {
            width: 24%;

            .root__cellContent {
                margin-right: 0;
            }
        }
    }

    &__cellContent {
        padding: 18px 15px 24px;
        margin-right: 15px;
        background-color: #f3f3f2;
        text-align: center;
        font-weight: 300;
        flex-direction: column;
        align-items: center;
        display: flex;
    }
}

.package {
    &__name {
        font-size: em(18px);
        line-height: em(25px, 18px);
        text-transform: uppercase;
        font-weight: 400;
        border-bottom: 2px dashed rgba(0, 0, 0, 0.15);
        padding-bottom: 5px;
    }

    &__pricing {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 10px;
    }

    &__price {
        font-size: em(28px);
        line-height: em(39px, 28px);
        margin-right: 15px;
    }

    &__description {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: em(16px);
        line-height: em(24px, 16px);
        margin-top: 18px;
    }

    &__term {
        font-size: em(20px);
        color: rgba(0, 0, 0, 0.5);
    }
}
