@import "../1-settings/breakpoints";
@import "../2-tools/em";

.root {
    padding: 100px 120px 100px;
    margin: 0px auto;
    position: relative;
    background-color: #f8f8f8;
    text-align: center;

    &__heading {
        font-size: em(24px);
        line-height: em(33px, 24px);
        color: rgba(0, 0, 0, 0.7);
        margin-bottom: 40px;
    }

    &__email {
        font-size: em(40px);
        line-height: em(56px, 40px);
    }

    @media (max-width: $laptop) {
        padding: 50px 60px 50px;
    }

    @media (max-width: $tablet) {
        padding: 35px 25px 35px;

        &__heading {
            font-size: em(18px);
            line-height: em(25px, 18px);
            margin-bottom: 20px;
        }

        &__email {
            font-size: em(22px);
            line-height: em(31px, 22px);
        }
    }
}

.emailUrl {
    position: relative;

    &:hover {
        &:after {
            transform-origin: left;
            transform: scaleX(1);
        }
    }

    &:after {
        content: "";
        position: absolute;
        bottom: -5px;
        width: 100%;
        height: 2px;
        background: #88c8d3;
        left: 0;
        transform: scaleX(0);
        transition: transform 0.5s;
        transform-origin: right;
    }
}
