@import "../1-settings/breakpoints";
@import "../2-tools/em";

.root {
    padding: 100px 120px 100px;
    margin: 0px auto;
    position: relative;
    text-align: left;
    font-size: em(18px);
    line-height: em(27px, 18px);
    display: flex;
    justify-content: center;

    label {
        cursor: pointer;

        @media (max-width: $laptop) {
            margin-bottom: 8px;
        }
    }

    @media (max-width: $laptop) {
        font-size: em(16px);
        line-height: em(23px, 16px);
        padding: 50px 60px 50px;
    }

    @media (max-width: $tablet) {
        padding: 50px 25px;
    }
}

.form {
    width: 900px;
}

%basicInput {
    background-color: #f8f8f8;
    outline: none;
    padding: 16px 30px 15px;
    //margin-bottom: 40px;
    position: relative;
    font-weight: 300;
    border: 1px solid #f8f8f8;
    transition: border 0.1s ease;
    line-height: normal;

    &[data-error] {
        border: 1px solid #e94b5b;
    }

    @media (max-width: $laptop) {
        width: 100%;
        font-size: em(14px, 16px);
        padding: 10px;
    }
}

.input {
    @extend %basicInput;
    flex: 1 0 auto;
    margin-left: 60px;
    //margin-right: 60px;

    @media (max-width: $laptop) {
        margin-left: 0;
    }
}

.select {
    @extend %basicInput;

    margin-left: 60px;
    //margin-right: 60px;
    appearance: none;
    width: 100%;

    &:focus {
        border: 1px solid darken(#f8f8f8, 10);
    }

    @media (max-width: $laptop) {
        margin-left: 0;
    }
}

.selectWrap {
    display: inline-flex;
    position: relative;
    flex: 1 0 auto;

    > svg {
        transform: rotate(90deg);
        position: absolute;
        right: 24px;
        height: 100%;
    }

    @media (max-width: $laptop) {
        width: 100%;
    }
}

.textarea {
    @extend %basicInput;

    vertical-align: top;
    margin-bottom: 0;
    margin-left: 60px;
    resize: none;
    line-height: em(30px, 18px);

    @media (max-width: $laptop) {
        margin-left: 0;
    }
}

.formRow {
    margin-bottom: 40px;

    display: flex;
    align-items: center;

    @media (max-width: $laptop) {
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin-bottom: 25px;
    }
}

.textAreaRow {
    align-items: flex-start;
    margin-bottom: 26px;

    > label {
        margin-top: 25px;

        @media (max-width: $laptop) {
            margin-top: 0;
        }
    }

    > textarea {
        flex: 1 0 auto;
    }
}

.submitRow {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    @media (max-width: $laptop) {
        flex-direction: column;
        align-items: flex-end;
    }
}

%formFeedback {
    font-size: em(16px, 18px);
    line-height: em(24px, 16px);
    margin-right: 48px;
    font-weight: normal;

    @media (max-width: $laptop) {
        margin-right: 0;
        margin-bottom: 20px;
    }
}

.error {
    @extend %formFeedback;
    color: #e94b5b;
}

.success {
    @extend %formFeedback;
    color: #87c8d3;
}

.showLaptop {
    display: none;
    visibility: hidden;
}

@media (max-width: $laptop) {
    .showLaptop {
        display: initial;
        visibility: visible;
    }

    .hideLaptop {
        display: none;
        visibility: hidden;
    }
}
