@import "../1-settings/breakpoints";
@import "../2-tools/em";

.root {
    margin-bottom: 110px;
    max-width: 1920px;
    margin: 0px auto;
    position: relative;
    padding: 0 120px 100px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;

    @media (max-width: $laptop) {
        padding: 50px 60px 50px;
        display: flex;
        flex-direction: column;
        height: auto;
        margin-bottom: 0;
    }

    @media (max-width: $tablet) {
        padding: 30px 25px 30px;
        flex-direction: column;
    }
}

.imageWrapper {
    margin-right: 25px;
    flex: 0 1 50%;
    height: 100%;
    height: 470px;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;

        &[data-image-fit="contain"] {
            object-fit: contain;
        }
    }

    @media (max-width: $laptop) {
        order: 0 !important;
        flex: 1 0 330px;
        height: 330px;
        margin-right: 0;
    }

    @media (max-width: $tablet) {
        margin-bottom: 15px;
        flex: 1 1 100%;
    }

    @at-root {
        .root[data-image-position="right"] & {
            order: 1;
            margin-left: 25px;
            margin-right: 0;

            @media (max-width: $laptop) {
                margin-left: 0;
            }
        }
    }
}

.content {
    display: flex;
    flex-direction: column;
    margin-left: 25px;
    flex: 0 1 50%;

    p {
        font-size: em(18px);
        line-height: em(50px, 18px);
        color: #000000;
        margin-top: 0;
        font-weight: 400;

        @media (max-width: $laptop) {
            font-size: em(16px);
            line-height: em(34px, 16px);
        }
    }

    @media (max-width: $laptop) {
        margin-left: 0;
        margin-top: 14px;
    }

    @media (max-width: $tablet) {
        margin-left: 0;
        margin-top: 15px;
        flex: 1 1 100%;
    }

    @at-root {
        .root[data-image-position="right"] & {
            margin-left: 0;
            margin-right: 25px;

            @media (max-width: $laptop) {
                margin-right: 0;
            }
        }
    }
}
