@import "../1-settings/breakpoints";

.root {
    max-width: 1920px;
    margin: 0px auto;
    position: relative;
    padding: 100px 120px 100px;
    display: flex;
    justify-content: center;
    align-items: center;

    > *:first-child {
        margin-right: 25px;
        flex: 0 1 50%;
    }

    > *:nth-child(2) {
        margin-left: 25px;
        flex: 0 1 50%;
    }

    @media (max-width: $laptop) {
        padding: 50px 60px 50px;
    }

    @media (max-width: $tablet) {
        padding: 30px 25px 30px;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;

        > *:first-child {
            margin-right: 0;
            margin-bottom: 15px;
            flex: 1 1 100%;
        }

        > *:nth-child(2) {
            margin-left: 0;
            margin-top: 15px;
            flex: 1 1 100%;
        }
    }

    a {
        text-decoration: underline;
    }
}
