@import "../1-settings/breakpoints";

.root {
    padding: 65px 60px 50px;
    position: relative;

    .container {
        max-width: 1920px;
        margin: 0px auto;
        position: relative;
        display: flex;
        flex-wrap: wrap;
    }

    .section {
        flex: 0 1 25%;

        @media (max-width: $laptop) {
            flex: 1 0 100%;
            margin-bottom: 40px;
        }
    }

    .logo {
        height: 60px;

        @media (max-width: $laptop) {
            height: 50px;
            transform: translateX(-4px);
        }
    }

    .bottom-bar {
        flex: 1 0 100%;
        margin-top: 100px;
        color: rgba(0, 0, 0, 0.6);
        display: flex;
        justify-content: space-between;

        @media (max-width: $laptop) {
            justify-content: center;
            margin-top: 0;
            flex-direction: column;
        }
    }

    .copyright {
        @media (max-width: $laptop) {
            order: 1;
            margin-top: 40px;
        }
    }

    .terms {
        @media (max-width: $laptop) {
            order: 0;
        }

        @media (max-width: $tablet) {
            a {
                margin-bottom: 20px;
                display: inline-block;

                &:last-of-type {
                    margin-bottom: 0;
                }
            }
        }
    }

    ul {
        list-style: none;
        padding-left: 0;

        li {
            margin-bottom: 24px;

            &:last-of-type {
                margin-bottom: 0;
            }

            @media (max-width: $laptop) {
                margin-bottom: 18px;
            }
        }
    }

    .heading {
        margin-bottom: 24px;
        font-weight: 400;
        display: block;

        @media (max-width: $laptop) {
            margin-bottom: 18px;
        }
    }

    @media (max-width: $laptop) {
        text-align: center;
    }

    a {
        position: relative;

        &:hover {
            &:after {
                transform-origin: left;
                transform: scaleX(1);
            }
        }

        &:after {
            content: "";
            position: absolute;
            bottom: -2px;
            width: 100%;
            height: 2px;
            background: #88c8d3;
            left: 0;
            transform: scaleX(0);
            transition: transform 0.5s;
            transform-origin: right;
        }
    }
}

.divider {
    display: inline-block;
    width: 50px;

    @media (max-width: $tablet) {
        display: block;
        width: auto;
    }
}
