@import "../1-settings/breakpoints";

.root {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 40px 40px;
    z-index: 20;

    a {
        display: inline-block;
    }

    .logo {
        height: 56px;
    }

    @media (max-width: $laptop) {
        padding: 15px 25px;
    }
}
