.overlay {
    position: fixed;
    width: 100vw;
    height: 100vh;
    top: 0;
    left: 0;
    overflow: hidden;
    background-color: #2d3436;
    will-change: opacity;

    &--white {
        background-color: #ffffff;
    }
}

.fullColorOverlay {
    position: fixed;
    overflow: hidden;
    z-index: 90;
    background-color: #f3f3f2;
    will-change: transform;
}
