@import "../1-settings/breakpoints";
@import "../2-tools/em";

// Color settings
$projects: (
    "addvue": (
        "main": #D50000,
        "contrast": #ffffff,
        "hover": darken(#D50000, 5),
    ),
    "haasf1": (
        "main": #e6002d,
        "contrast": #ffffff,
        "hover": darken(#e6002d, 5),
    ),
    "antilopen": (
        "main": #E24242,
        "contrast": #ffffff,
        "hover": darken(#E24242, 5),
    ),
    "luna": (
        "main": #ebb100,
        "contrast": #000000,
        "hover": darken(#ebb100, 5),
    ),
    "schneemann": (
        "main": #eaedeb,
        "contrast": #000000,
        "hover": darken(#eaedeb, 5),
    ),
    "svm": (
        "main": #3C40C6,
        "contrast": #ffffff,
        "hover": darken(#3C40C6, 5),
    ),
    "retourkoop": (
        "main": #1468d5,
        "contrast": #ffffff,
        "hover": darken(#1468d5, 5),
    ),
    "promentum": (
        "main": #2C3D97,
        "contrast": #ffffff,
        "hover": darken(#2C3D97, 5),
    ),
    "newcold": (
        "main": #0099da,
        "contrast": #ffffff,
        "hover": darken(#0099da, 5),
    ),
    "globos": (
        "main": #fac898,
        "contrast": #000000,
        "hover": darken(#fac898, 5),
    ),
    "sannewevers": (
        "main": #60d0bf,
        "contrast": #ffffff,
        "hover": darken(#60d0bf, 5),
    ),
    "verne": (
        "main": #485bdf,
        "contrast": #ffffff,
        "hover": darken(#485bdf, 5),
    ),
    "eye": (
        "main": #f49719,
        "contrast": #ffffff,
        "hover": darken(#f49719, 5),
    ),
    "phonecam": (
        "main": #7db4df,
        "contrast": #000000,
        "hover": darken(#7db4df, 5),
    ),
    "bijzonderecamping": (
        "main": #ddab87,
        "contrast": #2b3210,
        "hover": darken(#ddab87, 5),
    ),
    "basicproducts": (
        "main": #ff5a1f,
        "contrast": #ffffff,
        "hover": darken(#ff5a1f, 5),
    ),
);

.root {
    $grid-size: 1920px;
    position: relative;
    height: 960px;
    grid-gap: 0;
    display: grid;
    grid-template:
        "imageMargin image content contentMargin" 960px / 1fr calc(#{$grid-size} / 2) calc(
            #{$grid-size} / 2
        )
        1fr;
    width: 100%;
    overflow: hidden;

    &[data-image-position="right"] {
        grid-template:
            "contentMargin content image imageMargin" 960px / 1fr calc(#{$grid-size} / 2) calc(
                #{$grid-size} / 2
            )
            1fr;
    }

    @media (max-width: 1920px) {
        grid-template-columns: 1fr 50% 50% 1fr;

        &[data-image-position="right"] {
            grid-template-columns: 1fr 50% 50% 1fr;
        }
    }

    @media (max-width: $laptop) {
        display: flex;
        flex-direction: column;
        height: auto;
    }
}

.imageWrapper {
    flex: 1 0 50%;
    height: 100%;
    grid-area: 1 / imageMargin / 1 / image;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
        object-position: center;
    }

    @media (max-width: $laptop) {
        flex: 1 0 500px;
        height: 500px;
        order: 0 !important;
    }

    @media (max-width: $tablet) {
        flex: 1 0 330px;
        height: 330px;
    }

    @media (max-width: $mobile-l) {
        flex: 1 0 300px;
        height: 300px;
    }

    @at-root {
        .root[data-image-position="right"] & {
            grid-area: 1 / image / 1 / imageMargin;
        }
    }
}

.content {
    padding: 140px 150px;
    display: flex;
    flex-direction: column;
    flex: 1 0 50%;
    grid-area: content;

    p {
        margin-bottom: 20px;
        font-size: em(16px);
        line-height: em(30px, 16px);
        color: rgba(#000000, 0.6);
        margin-top: 0;
        font-weight: 400;
    }

    ul {
        list-style: none;
        padding-left: 0;
    }

    ul li::before{
         content: "⬩ ";
         color: rgba(#000000, 0.6);
    }

    .vCenter {
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    @media (max-width: $desktop) {
        padding: 140px 80px;
    }

    @media (max-width: $laptop) {
        padding: 35px 60px 60px;

        p {
            margin-bottom: 40px;
        }

        .vCenter {
            flex: 0 1;
        }
    }

    @media (max-width: $tablet) {
        padding: 35px 25px 50px;
    }
}

.date {
    display: inline-block;
    padding: 6px 10px 8px 10px;
    text-transform: uppercase;
    font-size: em(14px);
    line-height: em(16px, 14px);
    width: 165px;
    background-color: red;
    color: red;
    font-weight: 400;

    @media (max-width: $laptop) {
        display: none;
    }
}

.title {
    font-weight: 500;
    font-size: em(40px);
    line-height: em(35px, 30px);
    margin-bottom: 12px;

    @media (max-width: $laptop) {
        font-size: em(24px);
        line-height: em(33px, 24px);
        margin-bottom: 12px;
    }
}

.subtitle {
    font-weight: 300;
    font-size: em(28px);
    line-height: em(35px, 30px);
    margin-bottom: 30px;

    @media (max-width: $laptop) {
        font-size: em(24px);
        line-height: em(33px, 24px);
        margin-bottom: 25px;
    }
}

.tags {
    font-size: em(16px);
    line-height: em(30px, 16px);
    color: rgba(#000000, 0.4);
    margin-bottom: 40px;
    font-weight: 400;

    @media (max-width: $laptop) {
        display: none;
    }
}

.button {
    display: inline-block;
    background-color: red;
    color: red;
    font-size: em(14px);
    line-height: em(21px, 14px);
    padding: 12px 17px 12px 20px;
    transition: background-color 0.2s ease;
    font-weight: 400;

    svg {
        stroke: currentColor;
        vertical-align: middle;
        margin-left: 15px;
    }
}

// Color assignments

.root {
    @each $project, $colors in $projects {
        &[data-project="#{$project}"] {
            $main-color: map-get(
                $map: $colors,
                $key: "main",
            );
            $contrast-color: map-get(
                $map: $colors,
                $key: "contrast",
            );

            .date {
                background-color: $main-color;
                color: $contrast-color;
            }

            .button {
                background-color: $main-color;
                color: $contrast-color;

                &:hover {
                    background-color: if(
                        map-has-key($map: $colors, $key: "hover"),
                        map-get($map: $colors, $key: "hover"),
                        lighten($main-color, 5)
                    );
                }
            }
        }
    }
}
